html body{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
height: 100%;
width: 100%;
}

header{
   align-self: center;
   background: #797878;
   height: 120px;
   width: 100%;
   padding: 25px;
}

.container-header{
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 90%;
}


.header-logo{
   height: 150px;
   margin-top: -25px;
   opacity: 50%;
   width: auto;
}

.title-names-header{
   height: 150px;
   width: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.title-header{
   color: #ededed;
   font-family: cursive;
   font-size: 1.5em;
   margin-bottom: 8px;
   text-align: center;
}

.subTitle-header{
   border-top: 1px solid #54c82f;
   font-family: cursive;
   color: #ededed;
   font-size: 20px;
   text-align: center;
}

ul, li{
   list-style: none;
   margin-bottom: 5px;
   padding: 0;
   position: relative;
}

ul ul{
   position: absolute;
   display: none;
}

ul ul li{
   display: block;
}

ul li:hover ul{
   display: block;
   width: 100%;
}

a{
   text-decoration: none;
}

.header-dropdown{
   display: flex;
   justify-content: space-around;
   margin-right: 100px;
   margin-top: -45px;
   padding: 0;
   width: 100%;
}

.header-dropdown__span{
   color: #ededed;
   font-size: 1.5em;
   font-weight: 800;
   margin-bottom: 5px;
   text-decoration: underline;
   text-transform: uppercase;
}

.header-dropdown__submenu-item{
   padding: 5px;
}

.header-dropdown__submenu-link{
   color: #ededed;
   display: block;
}

.header-dropdown__submenu-link:hover{
   color: #54c82f;
}

.banner{
   position: relative;
}

.banner-img{
   height: 490px;
   width: 100%;
}

.div-plans{
   display:flex;
   left: 55%;
   margin: 0 auto;
   padding: 30px 0;
   position: absolute;
   top: 0%;
   width: 600px;
}

.div-plans li{
   background: #fff;
   border: 3px solid #0a5f55;
   border-radius: 15px;
   box-sizing: border-box;
   box-shadow: 0 5px 5px #24272a;
   margin: 0 15px;
   padding: 25px 15px;
   width: 250px;
   text-align: center;
}

.div-plans li:hover{
   border-color: #b1d341;
   transform: scale(1.1);
}

.div-plans h2{
   color: #24272a;
   font-size: 25px;
   font-weight: bold;
   padding-bottom: 15px;
}

.div-plans p{
   color: #24272a;
   font-size: 18px;
   padding: 10px 0;
}

.plans-img{
   height: 180px;
   width: 100%;
}

.plans-button{
   background: #24272a;
   border: none;
   border-radius: 5px;
   color: #ededed;
   width: 150px;
   height: 40px;
}

.plans-button:hover{
   color: #4DBA7A;
}

.viverbem{
   background: #ededed;
   margin-top: -1%;
   padding-top: 3%;
   height: 450px;
}

.title-viverBem{
   color: #00995d;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2.5em;
   font-weight: bold;
   text-align: center;
}

.viverBem-list{
   display: flex;
   justify-content: space-evenly;
   padding-top: 30px;
}

.viverBem-list-item{
   background: #fff;
   border: none;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   margin: 0 10px;
   width: 18%;
   text-align: center;
}

.viver-bem-img{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   height: 40%;
   width: 100%;
   top: 0%;
}

.viver-bem-title{
   color: #b1d341;
   font-size: 1.2em;
   margin-top: -2px;
   padding-top: 20px;
   text-align: center;
   top: 20%;
}

.viver-bem-text{
   color: #a0a0a0;
   font-size: 14px;
   line-height:1.5em;
   margin-bottom: 25px;
   padding: 15px;
   text-align: center;
}

.viver-bem-button{
   align-self: center;
   background: #b1d341;
   border: none;
   border-radius: 5px;
   bottom: 2%;
   color: #00401a;
   height: 40px;
   position: absolute;
   text-transform: uppercase;
   font-weight: bold;
   width: 175px;
}

.viver-bem-button:hover{
   background: #00995d;
   color: #ededed;
}

.video{
   background: #0a5f55;
   height: 450px;
}

.video-container{
   align-items: center;
   display: flex;
   flex-direction: column;
   padding: 30px;
}

.video-title{
   color: #b1d341;
   font-family: cursive;
   font-size: 3em;
   margin-bottom: 30px;
}

.navMapSite{
   background: #fff;
}

.navMapSite-list{
   display: flex;
   height: 220px;
   flex-flow: column wrap;
}

.navMapSite-list-title{
   color: #0a5f55;
   font-weight: 700;
   font-size: 1.3em;
   align-self: center;
   margin-top: 30px;
   margin-bottom: 15px;
   padding-top: 25px;
}

.list-tilte-MEDBNU{color: #54c82f; border-bottom: 4px solid #54c82f;}
.list-tilte-servicos{color: #b1d341; border-bottom: 4px solid #b1d341;}
.list-tilte-sustentabilidade{color: #00995d; border-bottom: 4px solid #00995d;}
.list-tilte-viverMelhor{color: #0a5f55; border-bottom: 4px solid #0a5f55;}
.list-tilte-noticias{color: #00401a; border-bottom: 4px solid #00401a;}


.navMapSite-link{
   color: #a0a0a0;
   font-weight: 500;
   font-size: 14px;
   padding-bottom: 10px;
   text-align: center;
}

.navMapSite-link:hover{
   text-decoration: underline;
}

.footer-container{
   background: #ededed;
}

.footer-content{
   display: flex;
   justify-content: center;
   padding: 50px;
}

.footer-label{
   color: #24272a;
   font-weight: 700;
   font-size: 20px;
   margin-right: 7px;
   padding-top: 8px;
}

.footer-button{
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   background-color: #4DBA7A;
   color: #FFF;
   cursor: pointer;
}

.footer-button, .footer-input{
   border: 1px solid #4DBA7A;
   box-sizing: border-box;
   font-size: 16px;
   height: 35px;
}

@media(max-width:768px){
   header{
      width: auto;
      height: auto;
   }

   .title-names-header{
      
   }

   .container-header{
      flex-direction: column;
      height: 100%;
      justify-content: center;
      width: 100%;
   }
   
   .container-list{
      display: flex;
   }

   .header-dropdown{
      display: none;
   }

   .banner{
      display: flex;
      height: 920px;
      width: auto;
   }

   .banner-img{
      display: none;
   }

   .div-plans{
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 0;
      width: auto;
      justify-content: center;
   }

   .div-plans li{
      margin-bottom: 15px;
   }

   .viverbem{
      height: 100%;
      margin: 0px auto;
   }

   .viverBem-list{
      flex-direction: column;
   }

   .viverBem-list-item{
      margin-bottom: 10px;
      width: auto;
   }

   .viver-bem-button{
      margin-bottom: 5px;
      position:initial;
   }

   .video{
      height: auto;
   }

   iframe{
      height: auto;
      width: auto;
   }

   .navMapSite-list{
      flex-direction: column;
      height: auto;
   }

   .footer-content{
      flex-direction: column;
   }

   .footer-label{
      margin-bottom: 5px;
   }

   .footer-button{
      border-top-right-radius: 0;
      border-bottom-left-radius: 5px;
   }
}